      *    *===========================================================*
      *    * Subroutines per filtri di selezione semilavorati [dps]    *
      *    *-----------------------------------------------------------*
       det-zos-dps-opn-000.
      *              *=================================================*
      *              * Open modulo                                     *
      *              *-------------------------------------------------*
           move      "OP"                 to   f-ope                  .
           perform   det-zos-dps-cll-000  thru det-zos-dps-cll-999    .
       det-zos-dps-opn-999.
           exit.

       det-zos-dps-cls-000.
      *              *=================================================*
      *              * Close modulo                                    *
      *              *-------------------------------------------------*
      *                  *---------------------------------------------*
      *                  * Chiusura                                    *
      *                  *---------------------------------------------*
           move      "CL"                 to   f-ope                  .
           perform   det-zos-dps-cll-000  thru det-zos-dps-cll-999    .
      *                  *---------------------------------------------*
      *                  * Cancel del modulo utilizzato                *
      *                  *---------------------------------------------*
           move      "pgm/dps/prg/obj/bzosdps0"
                                          to   s-pat                  .
           call      "swd/mod/prg/obj/mfiltp"
                                         using s                      .
           cancel    s-pat                                            .
       det-zos-dps-cls-999.
           exit.

       det-zos-dps-cll-000.
      *              *=================================================*
      *              * Chiamata generica modulo                        *
      *              *-------------------------------------------------*
           move      "pgm/dps/prg/obj/bzosdps0"
                                          to   s-pat                  .
           call      "swd/mod/prg/obj/mfiltp"
                                         using s                      .
           call      s-pat               using f
                                               rf-dps                 .
       det-zos-dps-cll-999.
           exit.

