      *    *===========================================================*
      *    * Subroutines per filtri di selezione materie prime [dpm]   *
      *    *-----------------------------------------------------------*
       det-zos-dpm-opn-000.
      *              *=================================================*
      *              * Open modulo                                     *
      *              *-------------------------------------------------*
           move      "OP"                 to   f-ope                  .
           perform   det-zos-dpm-cll-000  thru det-zos-dpm-cll-999    .
       det-zos-dpm-opn-999.
           exit.

       det-zos-dpm-cls-000.
      *              *=================================================*
      *              * Close modulo                                    *
      *              *-------------------------------------------------*
      *                  *---------------------------------------------*
      *                  * Chiusura                                    *
      *                  *---------------------------------------------*
           move      "CL"                 to   f-ope                  .
           perform   det-zos-dpm-cll-000  thru det-zos-dpm-cll-999    .
      *                  *---------------------------------------------*
      *                  * Cancel del modulo utilizzato                *
      *                  *---------------------------------------------*
           move      "pgm/dpm/prg/obj/bzosdpm0"
                                          to   s-pat                  .
           call      "swd/mod/prg/obj/mfiltp"
                                         using s                      .
           cancel    s-pat                                            .
       det-zos-dpm-cls-999.
           exit.

       det-zos-dpm-cll-000.
      *              *=================================================*
      *              * Chiamata generica modulo                        *
      *              *-------------------------------------------------*
           move      "pgm/dpm/prg/obj/bzosdpm0"
                                          to   s-pat                  .
           call      "swd/mod/prg/obj/mfiltp"
                                         using s                      .
           call      s-pat               using f
                                               rf-dpm                 .
       det-zos-dpm-cll-999.
           exit.

