      *    *===========================================================*
      *    * Subroutines per determinazione ubicazione prodotti        *
      *    *-----------------------------------------------------------*
       det-prm-ubi-opn-000.
      *              *=================================================*
      *              * Open modulo                                     *
      *              *-------------------------------------------------*
           move      "OP"                 to   d-prm-ubi-tip-ope      .
           perform   det-prm-ubi-cll-000  thru det-prm-ubi-cll-999    .
       det-prm-ubi-opn-999.
           exit.

       det-prm-ubi-cls-000.
      *              *=================================================*
      *              * Close modulo                                    *
      *              *-------------------------------------------------*
      *                  *---------------------------------------------*
      *                  * Chiusura                                    *
      *                  *---------------------------------------------*
           move      "CL"                 to   d-prm-ubi-tip-ope      .
           perform   det-prm-ubi-cll-000  thru det-prm-ubi-cll-999    .
      *                  *---------------------------------------------*
      *                  * Test se cancellabile                        *
      *                  *---------------------------------------------*
           move      "C?"                 to   d-prm-ubi-tip-ope      .
           perform   det-prm-ubi-cll-000  thru det-prm-ubi-cll-999    .
           if        d-prm-ubi-exi-sts    not  = spaces
                     go to det-prm-ubi-cls-999.
      *                  *---------------------------------------------*
      *                  * Cancellazione modulo                        *
      *                  *---------------------------------------------*
           move      "pgm/mag/prg/obj/dprmubi0"
                                          to   s-pat                  .
           call      "swd/mod/prg/obj/mfiltp"
                                         using s                      .
           cancel    s-pat                                            .
       det-prm-ubi-cls-999.
           exit.

       det-prm-ubi-cll-000.
      *              *=================================================*
      *              * Chiamata generica modulo                        *
      *              *-------------------------------------------------*
           move      "pgm/mag/prg/obj/dprmubi0"
                                          to   s-pat                  .
           call      "swd/mod/prg/obj/mfiltp"
                                         using s                      .
           call      s-pat               using d-prm-ubi              .
       det-prm-ubi-cll-999.
           exit.

